@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&family=Playfair+Display:ital,wght@1,500&family=Trade+Winds&family=Zen+Maru+Gothic&family=Mansalva&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif; /* 英文字擺在前，中文字擺第二，中文字要有引號 */
  font-optical-sizing: auto; /* 光學自動改變粗細 */
  line-height: 1.5;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
}

/* 重置清單 */
ul, ol {
  list-style-type: none; /* 移除項目符號 */
  padding: 0; /* 移除內邊距 */
  margin: 0; /* 移除外邊距 */
}

/* 重置超聯結 */
a {
  display: block; /* 將a預設的inline改為block,才能設定間距及寬高 */
  color: #666;
  text-decoration: none;
}

textarea {
  width: 100%;
}

/* 卷軸樣式 */
::-webkit-scrollbar {
  height: 12px;
  background: #FFFFFF;
  border: 1px solid #2A5070;
  z-index: 1; /* 設置較低的 z-index */
  cursor: default;
}

::-webkit-scrollbar-button {
  display: none;
  background: none;
  width: 12px;
  height: 12px;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: #FDDA75;
  border: 1.5px solid #2A5070;
  z-index: 1; /* 設置較低的 z-index */
  cursor: default;
}

::-webkit-scrollbar-corner {
  background: #B3B3B3;
  cursor: default;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
/* 重置字體 */
body {
  position: relative;
  font-family: "Zen Maru Gothic", serif;
  /* 系統預設的無襯線字 */
  font-size: 100%;
  line-height: 1.5;
  background-color: #84D0FF;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  /* 一般粗細 */
}

/* 重置清單符號 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  /* 滿版 */
  max-width: 100%;
  height: auto;
}

/* 重置連結 */
/* 基本超連結樣式 */
a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

/* Menu */
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 60px;
  overflow: visible;
}
#topbar .logo {
  width: 232px;
}
#topbar .navbar {
  display: flex;
}
#topbar .navbar .ig-icon {
  margin-right: 16px;
}
#topbar .navbar .ig-icon img {
  width: 40px;
  height: 40px;
}
#topbar .navbar .shop-icon {
  margin-right: 16px;
}
#topbar .navbar .shop-icon img {
  width: 36px;
  height: 36px;
}
#topbar .navbar .hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#topbar .navbar .hamburger .bar {
  display: block;
  width: 30px;
  margin: 5px auto;
  transition: 0.4s;
}
#topbar .navbar .hamburger .bar1 {
  background-image: url(../images/home/bar1.svg) !important;
  height: 5px;
}
#topbar .navbar .hamburger .bar2 {
  background-image: url(../images/home/bar2.svg) !important;
  height: 5px;
}
#topbar .navbar .hamburger .bar3 {
  background-image: url(../images/home/bar3.svg) !important;
  height: 6px;
}
#topbar .navbar .hamburger .bar1-brown {
  background-image: url(../images/home/bar1-brown.svg) !important;
  height: 5px;
}
#topbar .navbar .hamburger .bar2-brown {
  background-image: url(../images/home/bar2-brown.svg) !important;
  height: 5px;
}
#topbar .navbar .hamburger .bar3-brown {
  background-image: url(../images/home/bar3-brown.svg) !important;
  height: 6px;
}
#topbar .navbar .hamburger.is-active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(5px) translateX(10px);
}
#topbar .navbar .hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}
#topbar .navbar .hamburger.is-active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-5px) translateX(10px);
}
#topbar .navbar .navigation {
  position: absolute;
  right: -2px;
  top: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: hide 0.35s both;
  box-sizing: border-box;
}
#topbar .navbar .navigation .menu {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  order: -1;
  padding: 10px 0;
}
#topbar .navbar .navigation .menu li {
  position: relative;
  flex-direction: row;
  right: -180px;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.45), rgba(153, 153, 153, 0.3));
  box-shadow: 4px 4px 2px 0px rgba(32, 87, 114, 0.389), inset 1px 1px 3px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: brightness(100%) blur(3px);
  border-radius: 99px 0 0 99px;
  width: 300px;
  padding: 6px 20px 0px 20px;
  margin-top: 30px;
}
#topbar .navbar .navigation .menu li:hover {
  right: -2px;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
}
#topbar .navbar .navigation .menu li:active img {
  transform: scale(1.2);
}
#topbar .navbar .navigation .menu li a {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 0;
  width: 100%;
}
#topbar .navbar .navigation .menu li a img {
  width: 40px;
  height: 40px;
  margin: 5px 80px 0 0;
}
#topbar .navbar .navigation .menu li a .menu-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
#topbar .navbar .navigation .menu li a .menu-title p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.18rem;
  color: #2A5070;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#topbar .navbar .navigation .menu li a .menu-title span {
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-size: 14px;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  color: #FFFFFF;
}
#topbar .navbar .navigation .menu li a .menu-title2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
#topbar .navbar .navigation .menu li a .menu-title2 p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.18rem;
  color: #FDDA75;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#topbar .navbar .navigation .menu li a .menu-title2 span {
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-size: 14px;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  color: #FFFFFF;
}
#topbar .navbar .navigation .menu li a:hover p {
  color: #736262;
}
#topbar .navbar .navigation .menu li a:hover span {
  color: #736262;
}
#topbar .navbar .navigation .show .menu li {
  right: -2px;
}

/* 首頁 */
.home {
  position: relative;
  width: 100%;
  z-index: 0;
}
.home .home_banner {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #84D0FF;
}
.home .home_banner .home-middle {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  z-index: 1;
}
.home .home_banner .home-middle .carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 600px;
  height: 500px;
  overflow: hidden;
  margin: 0;
  /**
  * ==========================
  * Arrows 
  *
  */
}
.home .home_banner .home-middle .carousel-wrapper .circle-bg {
  position: absolute;
  top: 20%;
  background-color: #FDDA75;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
.home .home_banner .home-middle .carousel-wrapper .carousel {
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.home .home_banner .home-middle .carousel-wrapper .inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home .home_banner .home-middle .carousel-wrapper .slide {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.home .home_banner .home-middle .carousel-wrapper .slide.active,
.home .home_banner .home-middle .carousel-wrapper .slide.left,
.home .home_banner .home-middle .carousel-wrapper .slide.right {
  z-index: 2;
  opacity: 1;
}
.home .home_banner .home-middle .carousel-wrapper .js-reset-left {
  left: auto;
}
.home .home_banner .home-middle .carousel-wrapper .slide.left {
  left: -100%;
  right: 0;
}
.home .home_banner .home-middle .carousel-wrapper .slide.right {
  right: -100%;
  left: auto;
}
.home .home_banner .home-middle .carousel-wrapper .transition .slide.left {
  left: 0%;
}
.home .home_banner .home-middle .carousel-wrapper .transition .slide.right {
  right: 0%;
}
.home .home_banner .home-middle .carousel-wrapper .transition .slide.shift-right {
  right: 100%;
  left: auto;
}
.home .home_banner .home-middle .carousel-wrapper .transition .slide.shift-left {
  left: 100%;
  right: auto;
}
.home .home_banner .home-middle .carousel-wrapper .transition .slide {
  transition-property: right, left, margin;
}
.home .home_banner .home-middle .carousel-wrapper .indicators {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
  padding: 0;
  text-align: center;
}
.home .home_banner .home-middle .carousel-wrapper .indicators li {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 5px;
  background: #fff;
  list-style-type: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-out;
}
.home .home_banner .home-middle .carousel-wrapper .indicators li.active {
  background: #93278f;
}
.home .home_banner .home-middle .carousel-wrapper .indicators li:hover {
  background-color: #2b2b2b;
}
.home .home_banner .home-middle .carousel-wrapper .arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  z-index: 5;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  cursor: pointer;
  transition: border-color 0.3s ease-out;
}
.home .home_banner .home-middle .carousel-wrapper .arrow:hover {
  border-color: #2A5070;
}
.home .home_banner .home-middle .carousel-wrapper .arrow-left {
  left: 20px;
  transform: rotate(225deg);
}
.home .home_banner .home-middle .carousel-wrapper .arrow-left:active {
  transform: rotate(225deg) translateX(3px) scale(1.2);
}
.home .home_banner .home-middle .carousel-wrapper .arrow-right {
  right: 20px;
  transform: rotate(45deg);
}
.home .home_banner .home-middle .carousel-wrapper .arrow-right:active {
  transform: rotate(45deg) translateX(3px) scale(1.2);
}
.home .home_banner .home-middle .carousel-wrapper .slide {
  text-align: center;
  background-size: cover;
}
.home .home_banner .home-middle .carousel-wrapper .slide:nth-child(1) {
  background-image: url(../images/home/Group_krita.apng);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}
.home .home_banner .home-middle .carousel-wrapper .slide:nth-child(2) {
  background-image: url(../images/home/vampire.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.home .home_banner .home-middle .carousel-wrapper .slide:nth-child(3) {
  background-image: url(../images/home/alpaca.apng);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
}
.home .home_banner .home-middle .soft-text {
  margin-top: 30px;
  display: flex;
  text-align: center;
  width: 12%;
  min-width: 60px;
}
.home .home_banner .whats-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 0 0 0 10%;
  padding-top: 300px;
}
.home .home_banner .whats-new .slideText-heading {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.home .home_banner .whats-new .slideText-heading h1 {
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-size: 24px;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ECFF5F;
  overflow: hidden;
}
.home .home_banner .whats-new .slideText-heading hr {
  width: 80%;
  height: 2px;
  background-color: #ECFF5F;
  margin: 0 0 10px 0;
  border: none;
}

/* 心理測驗 */
.softtest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background: linear-gradient(#FFEDBA, #FFFEF8);
}
.softtest #test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 350px;
  margin-top: 60px;
}
.softtest #test .heading-wrapper {
  display: flex;
  width: 30%;
  overflow: visible;
  justify-content: center;
  align-items: center;
}
.softtest #test .heading-wrapper .heading {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  overflow: visible;
}
.softtest #test .heading-wrapper .title-img {
  position: absolute;
  width: 40%;
  min-width: 150px;
  height: auto;
  bottom: 0;
}
.softtest #test .heading-wrapper .progress-bar {
  position: absolute;
  width: 100%;
  min-width: 350px;
  height: auto;
  bottom: 0;
}
.softtest #test .heading-wrapper .progress-bar .bar-content {
  position: relative;
  width: 100%;
}
.softtest #test .heading-wrapper .progress-bar .bar-content .snail {
  position: absolute;
  bottom: 25%;
}
.softtest #test .heading-wrapper .progress-bar .bar-content .snail img {
  width: 57px;
}
.softtest #test #start-screen {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}
.softtest #test #start-screen .start-btn {
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  width: 280px;
  height: 93px;
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-size: 24px;
  font-optical-sizing: auto;
  font-style: normal;
  background: url(../images/softtest/comfirm-btn.svg);
  background-size: cover;
  border: none;
  color: #2A2A2A;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(4px 4px 0 #5B83A3);
  cursor: pointer;
}
.softtest #test #start-screen .start-btn:hover {
  background: url(../images/softtest/comfirm-btn-hover.svg);
  transform: scale(1.1);
  background-size: cover;
  transition: ease-in-out 0.1s;
  filter: drop-shadow(3px 3px 0 #619ABD);
  padding: 10px 20px;
  color: #736262;
}
.softtest #test #start-screen .start-btn:active {
  background: url(../images/softtest/comfirm-btn-hover.svg);
  background-size: cover;
  transform: scale(0.95) translateY(2px);
  filter: drop-shadow(1px 1px 0 #5B83A3) hue-rotate(-10deg);
  padding: 10px 20px;
  color: #736262;
}
.softtest #test .test-bg {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.softtest #test .test-bg .question-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100vh - 210px);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  /* 混合模式 */
  overflow: visible;
}
.softtest #test .test-bg .question-container .Q {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 8rem;
}
.softtest #test .test-bg .question-container .Q h2 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
  color: #2A5070;
}
.softtest #test .test-bg .question-container #options {
  display: flex;
  flex-direction: column;
  width: 380px;
  min-width: 300px;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
  box-sizing: border-box;
}
.softtest #test .test-bg .question-container #options .option-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px 0;
  padding: 20px 30px;
  border-radius: 22px;
  border: #FFFFFF 3px solid;
  cursor: pointer;
  color: #2A5070;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.18rem;
  background-color: rgba(255, 255, 255, 0.12);
  box-shadow: 4px 4px 0 #5B83A3;
  backdrop-filter: brightness(120%) blur(6px);
}
.softtest #test .test-bg .question-container #options .option-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
  transition: 0.1s;
  box-shadow: 3px 3px 0 #619ABD;
}
.softtest #test .test-bg .question-container #options .option-button.selected, .softtest #test .test-bg .question-container #options .option-button.active {
  background: url(../images/softtest/select-bg.jpg);
  transform: scale(1);
  background-size: cover;
  border: #2A5070 3px solid;
  background-position: center;
  color: #FFFFFF;
  box-shadow: 1px 1px 0 #5B83A3;
  filter: hue-rotate(-10deg);
}
.softtest #test .test-bg .question-container #confirm-button {
  display: flex;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 0 20px;
  width: 280px;
  height: 93px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
  background: url(../images/softtest/comfirm-btn.svg);
  background-size: cover;
  border: none;
  color: #2A2A2A;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(3px 3px 0 #619ABD);
  cursor: pointer;
}
.softtest #test .test-bg .question-container #confirm-button:hover {
  background: url(../images/softtest/comfirm-btn-hover.svg);
  transform: scale(1.1);
  background-size: cover;
  transition: ease-in-out 0.1s;
  filter: drop-shadow(3px 6px 0 #5B83A3);
  padding: 10px 20px;
  color: #736262;
}
.softtest #test .test-bg .question-container #confirm-button:active {
  background: url(../images/softtest/comfirm-btn-hover.svg);
  background-size: cover;
  transform: scale(0.95) translateY(2px);
  filter: drop-shadow(2px 2px 0 #5B83A3) hue-rotate(-10deg);
  padding: 10px 20px;
  color: #736262;
}
.softtest #test .test-bg .question-container #confirm-button:disabled {
  opacity: 0;
  cursor: not-allowed;
}
.softtest #test #result {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.softtest #test #result p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
  color: #2A5070;
  margin-bottom: 16px;
}
.softtest #test #result img {
  width: auto;
  height: 100vh;
}
.softtest #test #result .result-buttons {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}
.softtest #test #result .result-buttons .result-button {
  display: inline-flex;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 0px 20px;
  width: 253px;
  height: 83px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
  background: url(../images/softtest/comfirm-btn.svg);
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: #2A2A2A;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(3px 3px 0 #619ABD);
  cursor: pointer;
}
.softtest #test #result .result-buttons .result-button:hover {
  background: url(../images/softtest/comfirm-btn-hover.svg);
  transform: scale(1.1);
  background-size: cover;
  transition: ease-in-out 0.1s;
  filter: drop-shadow(3px 6px 0 #5B83A3);
  padding: 10px 20px;
  color: #736262;
}
.softtest #test #result .result-buttons .result-button:active {
  background: url(../images/softtest/comfirm-btn-hover.svg);
  background-size: cover;
  transform: scale(0.95) translateY(2px);
  filter: drop-shadow(2px 2px 0 #5B83A3) hue-rotate(-10deg);
  padding: 10px 20px;
  color: #736262;
}
.softtest #test #result .result-buttons .result-button:disabled {
  opacity: 0;
  cursor: not-allowed;
}

/* 商店選單 */
.shop-menu {
  display: flex;
  flex-direction: column;
  width: 12%;
}
.shop-menu .shop-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.shop-menu .links-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
  border-top: 1.5px solid #FFFFFF;
  border-bottom: 1.5px solid #FFFFFF;
}
.shop-menu .links-group ul {
  padding: 0;
}
.shop-menu .links-group ul li {
  margin: 20px 0;
}
.shop-menu .links-group ul li a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
}
.shop-menu .links-group ul li a img {
  width: 24px;
  height: 24px;
}
.shop-menu .ad-side {
  width: 100%;
  margin-top: 20px;
}

/* 商店主頁 */
#shop-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8% 10%;
  background-color: #2A5070;
}
#shop-list .container {
  width: 70%;
  margin: 0 100px 0 50px;
  overflow: visible;
}
#shop-list .container .controls {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px 0;
}
#shop-list .container .controls .control-group {
  display: flex;
  align-items: center;
  gap: 8px;
}
#shop-list .container .controls .control-group .sort-button {
  margin-right: 20px;
  padding: 8px 16px;
  background: #FDDA75;
  border: 2px solid #FDDA75;
  border-radius: 4px;
  color: #2A5070;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
}
#shop-list .container .controls .control-group .sort-button:hover {
  border: 2px solid #FDDA75;
  background: none;
  color: #FFFFFF;
}
#shop-list .container .controls .control-group .sort-button .sort-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}
#shop-list .container .controls .control-group .sort-button .sort-icon.descending {
  transform: rotate(180deg);
}
#shop-list .container .controls .control-group .sort-button.active {
  background-color: #FDDA75;
  color: #2A5070;
}
#shop-list .container .controls .control-group label {
  font-size: 1rem;
  color: #FDDA75;
}
#shop-list .container .controls .control-group input[type=search] {
  padding: 6px 12px;
  border: 2px solid #FDDA75;
  background: none;
  border-radius: 4px;
  color: #FDDA75;
}
#shop-list .container .controls .control-group input[type=search]:focus {
  outline: none;
  border-color: #FFFFFF;
}
#shop-list .container .product-table {
  width: 100%;
  display: flex;
}
#shop-list .container .product-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
#shop-list .container .product-table table tbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 33px;
}
#shop-list .container .product-table table tbody tr {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 215px;
  max-width: 215px;
  height: 301px;
  cursor: pointer;
  margin-bottom: 40px;
  filter: drop-shadow(8px 4px 0 #619ABD);
}
#shop-list .container .product-table table tbody tr:hover {
  transform: scale(1.1);
  filter: drop-shadow(4px 8px 0 rgba(97, 154, 189, 0.8431372549));
}
#shop-list .container .product-table table tbody tr:hover .img-wrapper img {
  transform: scale(1.1);
  filter: brightness(1.05);
}
#shop-list .container .product-table table tbody tr .cell-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
}
#shop-list .container .product-table table tbody tr .product-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;
}
#shop-list .container .product-table table tbody tr .product-cell .status-avalible {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  background-color: #2A5070;
  border-radius: 2px 10px;
  width: max-content;
  margin: 11px 18px;
  padding: 3px 6px;
  color: #FFFFFF;
}
#shop-list .container .product-table table tbody tr .product-cell .status-soldout {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  background-color: #B3B3B3;
  border-radius: 2px 10px;
  width: max-content;
  margin: 11px 18px;
  padding: 3px 6px;
  color: #FFFFFF;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  align-items: center;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure .img-wrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure .img-wrapper .markerLight {
  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 1;
  background-color: #FDDA75;
  border-radius: 5px;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Noto Sans TC";
  color: #2A2A2A;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure .img-wrapper .markerGrey {
  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 1;
  background-color: #B3B3B3;
  border-radius: 5px;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Noto Sans TC";
  color: #FFFFFF;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure .img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: top;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure figcaption {
  margin: 12px 0;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure figcaption .product-title {
  color: #2A2A2A;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
}
#shop-list .container .product-table table tbody tr .product-cell .product-figure figcaption .price-cell {
  width: 100%;
  text-align: center;
  color: #2A2A2A;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0rem;
}

/* 商品子頁 */
#product-page {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8% 10%;
  background-color: #2A5070;
}
#product-page .shop-menu {
  position: fixed;
  width: 9.5%;
  top: 17.5%;
  left: 10%;
  height: fit-content;
}
#product-page .shop-menu .ad-side {
  display: none;
}
#product-page .product-container {
  display: flex;
  flex-direction: column;
}
#product-page .product-container .product-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90vh;
}
#product-page .product-container .product-info p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 2;
  color: #FFFFFF;
}
#product-page .product-container .product-info .book-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#product-page .product-container .product-info .book-area h1 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: #FDDA75;
}
#product-page .product-container .product-info .book-area .price-area {
  display: inline-flex;
  align-items: baseline;
  gap: 24px;
}
#product-page .product-container .product-info .book-area .price-area h2 {
  font-family: "Trade Winds";
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  color: #84D0FF;
}
#product-page .product-container .product-info .book-area .price-area h2 span {
  font-family: "Trade Winds";
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  color: #84D0FF;
}
#product-page .product-container .product-info .book-area .price-area h3 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
  color: #ECFF5F;
}
#product-page .product-container .product-info .book-area .price-area h3 span {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
}
#product-page .product-container .product-info .book-area .type {
  color: #FFFFFF;
  gap: 8px;
}
#product-page .product-container .product-info .book-area .type h4 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}
#product-page .product-container .product-info .book-area .type p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 2;
}
#product-page .product-container .product-info .book-area .color-option {
  display: flex;
  margin-top: 8px;
  gap: 16px;
}
#product-page .product-container .product-info .book-area .color-option .form-group {
  display: flex;
  gap: 8px;
}
#product-page .product-container .product-info .book-area .color-option .form-group select {
  width: 90px;
  padding: 5px;
}
#product-page .product-container .product-info .book-area .num {
  color: #FFFFFF;
}
#product-page .product-container .product-info .book-area .num .form-group {
  display: flex;
  gap: 8px;
}
#product-page .product-container .product-info .book-area .num .form-group select {
  width: 50px;
  padding: 5px;
}
#product-page .product-container .product-info .book-area .notice {
  border: #FFFFFF 1.5px solid;
  border-radius: 10px;
  padding: 16px;
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.12);
}
#product-page .product-container .product-info .book-area .notice p {
  font-family: "Noto Sans TC", serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}
#product-page .product-container .product-info .book-area .checkout {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}
#product-page .product-container .product-info .book-area .checkout .total p {
  margin: 0;
  line-height: 1;
}
#product-page .product-container .product-info .book-area .checkout button {
  border: #FFFFFF 3px solid;
  border-radius: 20px;
  background-color: #ECFF5F;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.18rem;
  line-height: 1.5;
  color: #2A5070;
  padding: 0 25px;
}
#product-page .product-container .product-info .gallery {
  width: 520px;
}
#product-page .product-container .product-info .gallery .lSAction > .lSPrev {
  background-image: url("../images/shop/arrow-left.svg") !important;
  background-size: 100%;
}
#product-page .product-container .product-info .gallery .lSAction > .lSPrev:hover {
  filter: brightness(0.5);
}
#product-page .product-container .product-info .gallery .lSAction > .lSPrev:active {
  filter: brightness(3) hue-rotate(200deg);
}
#product-page .product-container .product-info .gallery .lSAction > .lSNext {
  background-image: url("../images/shop/arrow_right.svg") !important;
  background-size: 100%;
  filter: brightness(120%);
}
#product-page .product-container .product-info .gallery .lSAction > .lSNext:hover {
  filter: brightness(0.5);
}
#product-page .product-container .product-info .gallery .lSAction > .lSNext:active {
  filter: brightness(3) hue-rotate(200deg);
}
#product-page .product-container .product-info .gallery .lslide img {
  width: 520px !important;
  height: 520px !important;
  object-fit: cover;
}
#product-page .product-container .product-info .gallery .lSSlideOuter .lSSlideWrapper {
  width: 520px !important;
  height: 520px !important;
  object-fit: cover;
  border-radius: 10px;
}
#product-page .product-container .product-info .gallery ul {
  list-style: none outside none;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
}
#product-page .product-container .product-info .gallery li {
  display: block;
  float: left;
  cursor: pointer;
  border-radius: 5px;
}
#product-page .product-container .product-info .gallery img {
  display: block;
  height: auto;
  max-width: 100%;
}
#product-page .product-container .product-info .gallery .lSSlideOuter .lSGallery li {
  width: 115px !important;
  height: 115px !important;
  object-fit: cover;
  margin-right: 10px !important;
}
#product-page .product-container .ad-area {
  display: flex;
  align-items: center;
}
#product-page .product-container .ad-area .long-ad-wrap {
  position: relative;
  border-top: #FFFFFF 1.5px solid;
  padding-top: 60px;
  z-index: 0;
}
#product-page .product-container .ad-area .long-ad-wrap .sketchfab-embed-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11.35%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: visible;
}
#product-page .product-container .ad-area .long-ad-wrap .sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 500px;
}/*# sourceMappingURL=style.css.map */