@use 'reset';
@use 'variables'as *;
@use 'function'as *;
@use 'keyframes';
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Mina:wght@400;700&family=Noto+Sans+TC:wght@100..900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* 重置字體 */

body {
    position: relative;
    font-family: $Chinese;
    /* 系統預設的無襯線字 */
    font-size: 100%;
    line-height: 1.5;
    background-color: $bg-1;
    width: 100%;
}

// 確保所有元素都使用邊框盒模型
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 重置標題字重 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;

    /* 一般粗細 */
}

/* 重置清單符號 */

ul,
ol {
    list-style: none;
}

/* 重置圖片 */

img {
    display: block;
    width: 100%;

    /* 滿版 */
    max-width: 100%;
    height: auto;

}

/* 重置連結 */
/* 基本超連結樣式 */
a {
    display: block;
    text-decoration: none;
    color: white;
}




/* Menu */
#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 60px;
    overflow: visible;

    .logo {
        width: 232px;
    }

    .navbar {
        display: flex;

       .ig-icon {
            margin-right:16px;

            img {
                width: 40px;
                height: 40px;
            }
        }
        .shop-icon{
            margin-right:16px;

            img {
                width: 36px;
                height: 36px;
            }

        }

        .hamburger {

            background-color: transparent;
            border: none;

            .bar {
                display: block;
                width: 30px;
                margin: 5px auto;
                transition: .4s;
            }

            .bar1 {

                background-image: url(../images/home/bar1.svg) !important;
                height: 5px;
            }

            .bar2 {
                background-image: url(../images/home/bar2.svg) !important;
                height: 5px;
            }

            .bar3 {
                background-image: url(../images/home/bar3.svg) !important;
                height: 6px;
            }






            &.is-active {
                .bar {
                    &:nth-child(1) {
                        transform: rotate(45deg) translateY(5px) translateX(10px);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translateY(-5px) translateX(10px);
                    }
                }
            }
        }

        .navigation {
            position: absolute;
            right: 0;
            top: 200%;
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: hide 0.35s both;
            box-sizing: border-box;




            .menu {
                font-size: 16px;
                display: flex;
                flex-direction: column;
                order: -1; //改變排列順序-1物件會在預設的0之前
                padding: 10px 0;

                li {
                    position: relative;
                    flex-direction: row;
                    right: -220px;
                    @include glassmorphism;
                    border-radius: 99px 0 0 99px;
                    width: 300px;
                    padding: 6px 20px 0px 20px;
                    margin-top: 30px;




                    &:hover {
                        right: 0px;
                    }

                    a {
                        display: inline-flex;
                        justify-content: flex-start;
                        align-items: center;
                        line-height: 0;
                        width: 100%;

                        img {
                            width: 40px;
                            height: 40px;
                            margin: 5px 80px 0 0;
                        }

                        .menu-title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            overflow: hidden;

                            p {
                                @include font-style($font-medium-16);
                                color: #2A5070;
                                overflow: hidden;
                                margin: 0;
                                padding: 0;
                            }

                            span {
                                @include font-style($font-EN-title-medium-14);
                                margin-top: 0;
                                padding: 0;
                                overflow: hidden;


                            }
                        }
                    }

                }


            }

            .show .menu li {
                right: 0;
            }
        }
    }
}


/* 首頁 */

.home {
    position: relative;
    width: 100%;
    z-index: 0;

    .home_banner {
        display: flex;

        width: 100%;
        height: 100vh;
        background: $bg-1;

        .home-middle {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 100vh;
            z-index: 1;

            .carousel-wrapper {
                position: relative;
                display: flex;
                justify-content: center;
                width: 100%;
                min-width: 600px;
                height: 500px;
                overflow: hidden;
                margin: 0;

                .circle-bg {
                    position: absolute;
                    top: 20%;
                    background-color: $primary-yellow;
                    border-radius: 50%;
                    width: 350px;
                    height: 350px;
                }


                .carousel {
                    position: absolute;
                    width: 100%;
                    height: 500px;
                    overflow: hidden;
                }


                .inner {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                }

                .slide {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 1;
                    opacity: 0;



                }

                .slide.active,
                .slide.left,
                .slide.right {
                    z-index: 2;
                    opacity: 1;
                }

                .js-reset-left {
                    left: auto
                }

                .slide.left {
                    left: -100%;
                    right: 0;
                }

                .slide.right {
                    right: -100%;
                    left: auto;
                }

                .transition .slide.left {
                    left: 0%
                }

                .transition .slide.right {
                    right: 0%
                }

                .transition .slide.shift-right {
                    right: 100%;
                    left: auto
                }

                .transition .slide.shift-left {
                    left: 100%;
                    right: auto
                }

                .transition .slide {
                    transition-property: right, left, margin;
                }

                // 不顯示下排的點點
                .indicators {
                    display: none;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    z-index: 4;
                    padding: 0;
                    text-align: center;
                }

                .indicators li {
                    width: 13px;
                    height: 13px;
                    display: inline-block;
                    margin: 5px;
                    background: #fff;
                    list-style-type: none;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background 0.3s ease-out;
                }

                .indicators li.active {
                    background: #93278f
                }

                .indicators li:hover {
                    background-color: #2b2b2b
                }

                /**
* ==========================
* Arrows 
*
*/
                .arrow {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    z-index: 5;
                    border-top: 3px solid #fff;
                    border-right: 3px solid #fff;
                    cursor: pointer;
                    transition: border-color 0.3s ease-out;
                }

                .arrow:hover {
                    border-color: #2A5070
                }


                .arrow-left {
                    left: 20px;
                    transform: rotate(225deg);
                }

                .arrow-left:active {
                    transform: rotate(225deg) translateX(3px) scale(1.2);
                }

                .arrow-right {
                    right: 20px;
                    transform: rotate(45deg);
                }

                .arrow-right:active {
                    transform: rotate(45deg) translateX(3px) scale(1.2);
                }

                .slide {
                    text-align: center;
                    background-size: cover;
                }

                .slide:nth-child(1) {
                    background-image: url(../images/home/Group_krita.apng);
                    background-size: 65%;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .slide:nth-child(2) {
                    background-image: url(../images/home/vampire.svg);
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .slide:nth-child(3) {
                    background-image: url(../images/home/alpaca.apng);
                    background-size: 65%;
                    background-repeat: no-repeat;
                    background-position: center;

                }
            }

            .soft-text {
                margin-top: 30px;
                display: flex;
                text-align: center;
                width: 12%;
                min-width: 60px;
            }
        }

        .whats-new {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 20%;
            margin: 0 0 0 10%;
            padding-top: 300px;


            .slideText-heading {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                width: 80%;


                h1 {
                    @include font-style($font-EN-title-medium-24);
                    color: $primary-lemon;
                    overflow: hidden;
                }

                hr {
                    width: 80%;
                    height: 2px;
                    background-color: $primary-lemon;
                    margin: 0 0 10px 0;
                    border: none;
                }

            }
        }

    }
}


/* 心理測驗 */
.softtest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    overflow: auto;



    #test {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-width: 350px;
        margin-top: 30px;

        .heading-wrapper {
            display: flex;
            width: 100%;
            overflow: visible;

            .heading {
                position: relative;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 180px;
                overflow: visible;
            }

            .title-img {
                position: absolute;
                width: 40%;
                min-width: 150px;
                height: auto;
                bottom: 0;
            }

            .progress-bar {
                position: absolute;
                width: 100%;
                min-width: 350px;
                height: auto;
                bottom: 0;

                .bar-content {
                    position: relative;
                    width: 100%;

                    .snail {
                        position: absolute;
                        bottom: 25%;

                        img {
                            width: 57px;
                        }
                    }
                }
            }
        }


        #start-screen {
            display: flex;
            width: 100%;
            height: 400px;
            justify-content: center;
            align-items: center;

        }

        .question-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 300px;
            background-size: cover;
            padding: 20px;

            .Q {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 5rem;
            }

            #options {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                overflow: hidden;
                width: 100%;

                .option-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 15px 0;
                    padding: 20px 30px;
                    border-radius: 22px;
                    cursor: pointer;

                    &.selected {
                        background-color: #ddd;
                    }
                }

                .result-buttons {
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                }

                #confirm-button {
                    margin: 20px;
                    padding: 10px;

                    &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }
            }



        }




    }
}