// 間距
$interval-s: 10px;
$interval-x-s: 0 10px;
$interval-m: 16px;
$interval-y-m: 16px 0;
$interval-l: 24px;
$interval-x-m: 0 15px;
$interval-label:24px 0px;
$interval-xy-l: 20px 50px;
$interval-x-center:30px auto;

// 速率
$speed-fast: .4s;

// 特效
$text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);



// 圓角
$bordered-r-s: 8px;
$bordered-r-m: 16px;
$bordered-r-l: 24px;

// z-index
$z-index-l:999;
$z-index-m:888;