// Neutral  
$deep:#2A2A2A; 
$grey:#B3B3B3;
$light:#FFFFFF;


// background 
$bg-1:#84D0FF;
$bg-2:#FFEDBA;
$bg-3:#2A5070;
$bg-4:#1EA1FF;
$bg-5:linear-gradient(#FFEDBA, #FFFEF8);

// shadow
$shadow-1:#5B83A3;
$shadow-2:#619ABD;
$shadow-3:#3290dd;
$shadow-4:#64b2f1;

// primary
$primary-lemon:#ECFF5F;
$primary-yellow:#FDDA75;
$primary-brown:#736262;
$primary-darkblue:#2A5070;
$primary-babyblue:#84D0FF;
$primary-mint:#00C7BE;
$primary-orange:#FEBD59;

// $secondary
$secondary-1:#fff6dc;