// Neutral  
$deep:#2A2A2A; 
$grey:#B3B3B3;
$light:#FFFFFF;


// background 
$bg-1:#84D0FF;
$bg-2:#FFEDBA;
$bg-3:#2A5070;

// shadow
$shadow-1:#5B83A3;
$shadow-2:#619ABD;

// primary
$primary-lemon:#ECFF5F;
$primary-yellow:#FDDA75;
$primary-brown:#736262;
$primary-darkblue:#2A5070;
$primary-babyblue:#84D0FF;



// alpha  /* 老師定義的先無視 */

$alpha-b-65: rgba(0,0,0,.65);
$alpha-b-85: rgba(0,0,0,.85);
$alpha-w-40: rgba(255, 187, 187, 0.4);


// lesser /* 老師定義的先無視 */
$lesser-1:#f3e4e4;
$lesser-2:#efdbdb;
$lesser-3:#cdaaab;
$lesser-4:#8f6b6b;



    
