// Neutral  
$deep:#2A2A2A; 
$grey:#B3B3B3;
$light:#FFFFFF;

// background  /* 老師定義的先無視 */
$bg-1:#2A2A2A;
$bg-2:#2A2A2A;
$bg-3:#2A2A2A;

// primary
$primary-green:#acff6c;
$primary-purple:#B595FF;



// alpha  /* 老師定義的先無視 */

$alpha-b-65: rgba(0,0,0,.65);
$alpha-b-85: rgba(0,0,0,.85);
$alpha-w-40: rgba(255, 187, 187, 0.4);


// lesser /* 老師定義的先無視 */
$lesser-1:#f3e4e4;
$lesser-2:#efdbdb;
$lesser-3:#cdaaab;
$lesser-4:#8f6b6b;



    
