// 字級
// 字體變數定義
$Chinese: "Zen Maru Gothic", serif;
$EN : "Mina", serif;
$EN-title:"Mansalva", serif;
$TC:"Noto Sans TC",serif;
$NUM:"Jacques Francois Shadow",serif;


//字重
$font-w-bold: 600;

// 字體樣式變數

$font-medium-12: (
  font-family:$TC,
  font-weight: 500,
  font-size: 0.75rem, // 12px
  letter-spacing: 0.05rem // 10%
);


$font-regular-13: (
  font-family: $Chinese,
  font-weight: 400,
  font-size: 0.8125rem // 13px
);

$font-medium-14: (
  font-family: $Chinese,
  font-weight: 500,
  font-size: 0.875rem, // 14px
  letter-spacing: 0.05rem // 10%
);
$font-medium-14-TC: (
  font-family: $TC,
  font-weight: 600,
  font-size: 0.875rem, // 14px
  letter-spacing: 0.05rem // 10%

);
$font-regular-14-TC: (
  font-family: $TC,
  font-weight: 400,
  font-size: 0.875rem, // 14px
  letter-spacing: 0rem

);



$font-regular-16: (
  font-family: $Chinese,
  font-weight: 400,
  font-size: 1rem, // 16px
  letter-spacing: 0.05rem, // 5%
  line-height:2, // 200%
);

$font-regular-16-TC: (
  font-family: $TC,
  font-weight: 300,
  font-size: 1rem, // 16px
  letter-spacing: 0.05rem, // 5%
);

$font-medium-16: (
  font-family: $Chinese,
  font-weight: 500,
  font-size: 1rem, // 16px
  letter-spacing: 0.18rem, // 15%
);

$font-medium-16-TC: (
  font-family: $TC,
  font-weight: 500,
  font-size: 1rem, // 16px
  letter-spacing: 0.05rem,
);

$font-black-16: (
  font-family: $Chinese,
  font-weight: 900,
  font-size: 1rem, // 16px
  letter-spacing: 0rem, // 15%

);


$font-regular-18: (
  font-family: $Chinese,
  font-weight: 300,
  font-size: 1.125rem, // 18px
  letter-spacing: 0.18rem, // 15%
  line-height: 1.8 // 180%
);

$font-medium-18: (
  font-family: $Chinese, 
  font-weight: 500,
  font-size: 1.125rem, // 18px
  letter-spacing: 0.18rem, // 15%
  line-height: 1.5 // 150%
);
$font-regular-18-n: (
  font-family: $Chinese,
  font-weight: 400,
  font-size: 1.125rem, // 18px
  letter-spacing: 0.05rem, // 5%
  line-height: 1.5 // 150%
);

$font-black-18: (
  font-family: $Chinese,
  font-weight: 700,
  font-size: 1.125rem, // 18px
  letter-spacing: 0.05rem, // 5%
  line-height: 1.5 // 150%
);

$font-bold-18-TC: (
  font-family: $TC, 
  font-weight: 700,
  font-size: 1.125rem, // 20px
  letter-spacing: 0.05rem, 
  line-height: 1.5 // 150%
);

$font-medium-20: (
  font-family: $Chinese, 
  font-weight: 700,
  font-size: 1.25rem, // 20px
  letter-spacing: 0.18rem, // 15%
  line-height: 1.5 // 150%
);
$font-bold-20-TC: (
  font-family: $TC, 
  font-weight: 700,
  font-size: 1.25rem,
  letter-spacing: 0.18rem, 
  line-height: 1.5,
);


$font-medium-24: (
  font-family: $Chinese,
  font-weight: 500,
  font-size: 1.5rem, // 24px
  letter-spacing: 0.18rem, // 15%
  line-height: 1.5 // 150%
);

$font-black-24: (
  font-family: $Chinese,
  font-weight: 700,
  font-size: 1.5rem, // 24px
  letter-spacing: 0.05rem // 10%
);


$font-medium-26: (
  font-family: $Chinese,
  font-weight: 500,
  font-size: 1.6rem // 26px
);



$font-medium-36: (
  font-family: $Chinese, 
  font-weight: 500,
  font-size: 2.25rem // 36px
);

$font-bold-36-TC: (
  font-family: $TC, 
  font-weight: 700,
  font-size: 2.25rem // 36px
);

$font-medium-48: (
  font-family: $Chinese,
  font-weight: 500,
  font-size: 3rem, // 48px
  letter-spacing: 0.2rem // 16%
);



$font-EN-title-medium-14: (
  font-family:$EN-title,
  font-optical-sizing: auto, 
  font-size: 14px,
  font-weight: 400,
  font-style: normal,
);
$font-EN-title-regular-16: (
  font-family:$EN-title,
  font-optical-sizing: auto, 
  font-size: 16px,
  font-weight: 400,
  font-style: normal,
);

$font-EN-title-medium-24: (
  font-family:$EN-title, 
  font-optical-sizing: auto,
  font-size: 24px,
  font-weight: 400,
  font-style: normal,
 
);
$font-price-32: (
  font-family: "Trade Winds",
  font-weight: 400,
  font-style: normal,
  font-size:32px,
);

$font-Num-title-32: (
  font-family: $NUM,
  font-weight: 400,
  font-size: 32px,
  font-style: normal,
);






