%yellow-gradient {
    background-image: linear-gradient(to bottom, #FFEDBA 100%, #FFFEF8 100%);
}


%glassmorphism {
    background-image: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.65), rgba(139, 189, 255, 0.3));
    border-radius: 20px 20px;/* 圓角，前數為左上右下，後數為右上左下 */
    box-shadow: 2px 2px 2px 1px rgba(169, 213, 255, 0.3);
    backdrop-filter: brightness(120%) blur(3px);
}

%box-center {
    display: flex;
    justify-content: center;
    align-items:center;
}

%img-cover{ object-fit: cover;}

// 多行省略
%line-multiple{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    // 行數於區塊中設定 -webkit-line-clamp:6;
            
}
// 單行省略
%line-single{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


}
