@use'../variables/'as*;
// 匯入變數不可於index.css中匯入
@mixin border-b ($width:2px,$color:$primary-green){
    border: $width solid $color;
}
@mixin bordered($width:1px,$primary-green){
    border: $width dashed $color;
}
@mixin font-style($style) {
    font-family: map-get($style, font-family);
    font-weight: map-get($style, font-weight);
    font-size: map-get($style, font-size);
  
    // 可選：如果變數中有字距或行高，則應用
    @if map-has-key($style, letter-spacing) {
      letter-spacing: map-get($style, letter-spacing);
    }
  
    @if map-has-key($style, line-height) {
      line-height: map-get($style, line-height);
    }
  
    // 可選：如果是英文字體，添加 font-optical-sizing 或 font-style
    @if map-has-key($style, font-optical-sizing) {
      font-optical-sizing: map-get($style, font-optical-sizing);
    }
  
    @if map-has-key($style, font-style) {
      font-style: map-get($style, font-style);
    }
  }
  
  